@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Qwitcher+Grypen&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@font-face {
    font-family:"Noto Sans KR", sans-serif ;
    src: url(".\font\NotoSansKR-VariableFont_wght.ttf")  format("ttf"); 
    unicode-range: U+AC00-D7A3;
}
@font-face {
    font-family: "Work Sans";
    src: url(".\font\WorkSans-VariableFont_wght.ttf") format("ttf");
    unicode-range: U+0041-005A, U+0061-007A;
}
:root{
    --background-color1:rgba(255,255,255);
    --font-small:13px;
    --font-btn:15px;
    --font-medium:18px;
    --font-large:25px;
    --font-big:6.5rem;
    --text:5rem;
    --subtext:21.5px;
    --font-color:#6c6b69;
    --font-subcolor:#0b0b0b ;
    --font-subsubcolor:#b6b5b1;
    --font-white: #fcfcf7;
    --font-korea:"Noto Serif KR", serif;
}
*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    text-decoration: none;
     
}
html{
    width: 100%;  
    background: #F5F3EE;   
}
body{
    font-family:  "Noto Sans KR " ,"Work Sans" ;
}
.headertop{
    box-shadow: 0px 2px 2px #999;
    display: flex;
    align-items: center;
    text-align: left;
    justify-content: space-between;
}
.index_all{
    margin-right: 350px;
    z-index: 100;
}
.index_all ul{
    display: flex;
    list-style: none;
    font-size: 1.1rem;
}
.index_all ul li{
    margin: 0 50px;
    padding: 3px 3px;
}
.name_nav,
.project_nav{
    padding: 0 15px;
    color: var(--font-color);
    font-weight: 600;
    letter-spacing: 2px;

}
.index_project .index_hidden{
    display: none;
    width: 150px;
    position: absolute;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 5px;
    margin-left:10px;
    background-color: #f5f4ef;
    border-radius: 20px;
    
    
}
.index_project .index_hidden li{
    margin-left: 30px;
    padding-bottom: 6px;
    font-size: var(--font-btn);
}
.hidden_nav{
    color: var(--font-subcolor);
}
.index_name a:hover,
.index_project a:hover{
    transition: 0.2s;
    color: var(--font-subcolor);
    text-decoration: underline;
    text-underline-offset : 6px;
    text-decoration-thickness:2px ;
}
.index_project:hover .index_hidden{
    display: block;
}
.hidden_nav:hover{
    color: var(--font-white);
}
.tooglebtn{
    display: none;
    position: absolute;
    right: 32px;
    font-size: 30px;
}
.maincphoto{
    margin: 0px 30px;
    margin-top: 40px;

}
.mainchapter{
  
    text-align: center;
    align-items: center;
}
.mainimg{
    position: absolute;
    top: 35%;
    right: 37%
}
.hedermiddle{
    position: relative;
    margin: 0px 20px;
    margin-top: 30%;
    text-align: center;
    align-items: center;
 
}
.middle1 {
    opacity: 0;
    transition: all 1s ease;
    font-size: var(--font-big);
    color: var(--font-color);
  
}
.middle1:hover span{
    color: #0b0b0b;
    transition: all 0.5s ease-in;
}
.hedermiddle.show .middle1{
    opacity: 1;
 
}
 
.topbtn{
    display: none;
    box-shadow: 2px 2px 2px #999 ;
    background: #FFFF;
    padding-left: 3px;
    padding-right: 3px;
    font-size: 40px;
    position: fixed;
    right: 5%;
    bottom: 30px;
    border: 1px solid  #FFFF;
    border-radius: 100%;
    cursor: pointer; 
    z-index: 999;
}
.topbtn i{
    color: var(--font-subcolor);
}
/*about*/
.sectionabout{
    height: 100vh;
}
.content{
    align-content: center;
    margin-top: 100px;
}
.contenth2{
    font-size: var(--text);
    display: flex;
    justify-content: center;
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.5s ease;
    color: var(--font-color);
}
.content_p{
    color: var(--font-subcolor);
    margin: 0 170px;
    font-size:var(--subtext);
    display: flex;
    text-align: left;
    justify-content: center;
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.5s 0.25s ease;
}
.content.show .contenth2{
    opacity: 1;
    transform: translateY(0);
}
.content.show .content_p{
    opacity: 1;
    transform: translateY(0);
}

/*@keyframes reveal {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(0);
    }
  }*/

  /*profile*/
#sectionprofile{
    height: 100vh;
 
}
.profile_title{
    padding-top: 15px;
}
.profile_title p{
    margin-left: 20px;
    margin-bottom: 20px;
    color: var(--font-color);
    font-size: var(--font-medium);
}
.profile_title h2{
    color: var(--font-subcolor);
    margin-left: 20px;
    margin-bottom: 5px;    
    font-size: 2rem;
}
 
.profile{
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile img{
    margin: 0 50px;
    margin-top: 50px;
    width: 290px;
    height: 310px;
 
}
.profile_all{
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: 3px 4px 2px #999 ;
    padding: 80px 50px;
    border-radius: 30px;
    margin: 0 50px;
    display: grid;
    grid-template-columns: 250px 290px;
    grid-template-rows: 100px 100px;
    gap: 50px 50px ;
}
.profile_all h2{
    color: var(--font-subcolor);
}
.profile_all ul{
    list-style: none;
}
.profile_all ul li{
    margin-top: 5px;
    display: flex;
    align-items: center;
}
.profile_all ul li p:nth-child(1){
    color: var(--font-color);
    font-size: 17px;
    font-weight: 700;
}
.profile_all ul li p:nth-child(2){
    color: var(--font-color);
    display: flex;
    justify-content: right;
}
.study ul li p:nth-child(1),
.fuction ul li p:nth-child(1), 
.tip ul li p:nth-child(1){
   margin-right: 10px;

}
.level{
    box-sizing: border-box;
    gap: 5px;
    display: flex;
    align-items: center;
 }
 .pull{
    box-sizing: border-box;
    height: 3px;
    width: 20px;
    background-color: var(--font-subcolor);
 }
 .null{
    box-sizing: border-box;
    height: 3px;
    width: 20px;
    background-color: darkgray;
 }
 .skills ul li{
    display: flex;
    justify-content: space-between;
 }
 .skills ul li p:nth-child(2){
    margin-right: 50px;
 }
 .name_morebtn{
    position: relative;
    top: 33%;
    right: 8%;
    color: var(--font-subcolor);
    font-weight: 500;
    text-decoration:underline
 }
 .morebtn:hover{
    color: var(--font-color);
 }
/*project start*/
#start_A{
    height: 100vh;
    background: #363636;
}
.projectstart {
    display: block;
 
}
.projectstarth1{
    font-size: var(--font-big);
    color: var(--font-white);
    opacity: 0;
    transform: translateY(100%);
    text-shadow: 5px 5px 3px #999;
}
.projectstart.show .projectstarth1{
    display: inline-block;
    opacity: 1;
    animation: reveal 1s cubic-bezier(0.77, 0, 0.175, 1) forwards;
}
@keyframes reveal {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}
.projectstarttitle{
    display: block;
    position: relative;
    margin-top: 31% 
}
.projectstarttitle li{
    margin: 5px 10px;
    list-style: none;
    font-size: var(--font-large);
    color: var(--font-white);
    text-shadow: 0px 1px 1px #999;
}

 /*alram*/
.sectionproject{
    height: 65vh;

}
 .section4{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.6);
    height: 100%;
    width: 100%;
    
} 
.slide{
    animation:slide 1.2s ease-out;
}
@keyframes slide{
    from{

        opacity: 0;
    }
    to{

        opacity: 1;
    }
}
.alramimg img{
 
    width: 450px;
    height: 300px;
     
}
.alrammaintext{
    position: relative;
    left: 5%;
}
.alramtext h2{
    font-size: var(--font-large);
    color: var(--font-subcolor);
    margin-bottom: 5px;
 
}
.alramtext p {
    font-size: var(--font-medium);
    color: var(--font-color);
    margin-bottom: 5px;
}
.alramsubtext ul{
    list-style: none;
}
.alramsubtext{
    margin-top: 10px;
}
.alramsubtext ul li{
    margin-bottom: 15px;
    display: flex;
}
 
.alramsubtext p:nth-child(1){
    font-size: var(--font-medium);
    color: var(--font-color);
    font-weight: 600;
}
.alramsubtext p:nth-child(2){
    font-size: var(--font-medium);
    color: var(--font-color);
    margin-left: 20px;
}
hr{
    margin-top: 10px;
    padding: 0.5px;
    background-color: var(--font-subsubcolor);
}
.button0{
    margin-top: 10px;
    background:#ebb76e;
    padding: 7px 30px;
    border-radius: 10px;
    font-weight: 500;
    color: var(--font-subcolor);
    border: 1px solid#ebb76e;
    font-size: var(--font-btn);
    z-index: 4;
    cursor: pointer;
    letter-spacing: 3px;
    box-shadow: 5px 3px 3px rgba(0, 0, 0, 0.1);

}
.button0:hover{
    background: #e6b980;
    border: 1px solid#e6b980;
    color: var(--font-white);
}
.viewbtn_media,
.viewbtn_media1,
.viewbtn_media2{
    display: none;
}
/*oneclcik css*/
.section5{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.6);
    height: 100%;
    width: 100%;
}
.phoneimg{
    width: 155px;
    height: 300px;
}
.oneappimg{
    position: absolute;
    margin-top: 200px;
    left: 25%;
    width: 90px;
    height: 90px;
}
.oneclcikmaintext{
    position: relative;
    left: 14%;
 }
.oneclciktext h2{
    font-size: var(--font-large);
    color: var(--font-subcolor);
    margin-bottom: 5px;
}
.oneclciktext p{
    font-size: var(--font-medium);
    color: var(--font-color);
    margin-bottom: 5px;
}

.oneclciksubtext{
    margin-top: 10px;
}
.oneclciksubtext ul{
    list-style: none;
}
.oneclciksubtext ul li{
    margin-bottom: 15px;
    display: flex;
}
.oneclciksubtext p:nth-child(1){
    font-size: var(--font-medium);
    color: var(--font-color);
    font-weight: 600;
}
.oneclciksubtext p:nth-child(2){
    font-size: var(--font-medium);
    color: var(--font-color);
    margin-left: 20px;
}
.button1{
    background:#d37f76ee;
    margin-top: 10px;
    padding: 7px 30px;
    border-radius: 10px;
    color: var(--font-subcolor);
    border: 1px solid #d37f76ee;
    font-size: var(--font-btn);
    z-index: 4;
    cursor: pointer;
    letter-spacing: 3px; /*문자간격*/
    box-shadow: 5px 3px 3px rgba(0, 0, 0, 0.1);
}
.button1:hover{
    background: #c25b50ee ;
    border: 1px solid#c25b50ee ;
    color: var(--font-white);
}
/*smartperfume css*/

.section6{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.6);
    width: 100%;
    height: 100%;
}
.phoneimg2{
 
    width: 165px;
    height: 300px;
 }
 .perfumeapp{
    position: absolute;
    margin-top: 200px;
    left: 25%;
    width: 90px;
    height: 90px;
}
.smartperfumemaintetext{
    position: relative;
    left: 14%;
 }
.smartperfumetext h2{
    font-size: var(--font-large);
    color: var(--font-subcolor);
    margin-bottom: 5px;
}
.smartperfumetext p {
    font-size: var(--font-medium);
    color: var(--font-color);
    margin-bottom: 5px;
}
.smartperfumesubtext{
    margin-top: 10px;
}
.smartperfumesubtext ul{
    list-style: none;
}
.smartperfumesubtext ul li{
    margin-bottom: 15px;
    display: flex;
}
.smartperfumesubtext p:nth-child(1){
    font-size: var(--font-medium);
    color: var(--font-color);
    font-weight: 600;
}
.smartperfumesubtext p:nth-child(2){
    font-size: var(--font-medium);
    color: var(--font-color);
    margin-left: 20px;
}

.button2{
    margin-top: 10px;
    background:#857d7cee ;
    padding: 7px 30px;
    border-radius: 10px;
    color: var(--font-subcolor);
    border: 1px solid #857d7cee;
    font-size: var(--font-btn);
    z-index: 4;
    cursor: pointer;
    letter-spacing: 3px;
    box-shadow: 5px 3px 3px rgba(0, 0, 0, 0.1);
}
.button2:hover{
    background: #6b6665ee ;
    border: 1px solid#6b6665ee ;
    color: var(--font-white);
}
/* contact */
#contact_all{
    width: 100%;
    height: 60vh;
}
.contacttitle{
    text-align: center;
    margin-top: 10rem;
    margin-bottom: 50px;
}
.contacttitle h2{
    font-size: var(--text);
    color: var(--font-color);
}
.contacttitle p{
    font-size: var(--font-large);
    color: var(--font-subcolor);
}
.contact_id{  
 text-align: center;
}
.contact_id i{
    font-size: var(--subtext);
}
.contact_mail,
.contact_git{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.contact_id p{
    color: var(--font-color);
}
.contact_git a{
    color: var(--font-color);
}
