@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Qwitcher+Grypen&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@font-face {
    font-family: 'KyoboHand';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/KyoboHand.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'NEXON Lv1 Gothic OTF';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff');
    unicode-range: U+AC00-D7A3;
}
:root{
    --index-font:1.1rem;
    --font-title:3rem;
    --font-project:40px;
    --font-projectsub:22px;
    --font-projectsubsub:18px;
    --color-n1:#4C585B;
    --color-n2:#7E99A3;
    --color-n3:#A5BFCC;
    --color-n4:#F4EDD3;
    --font-korea:"Noto Serif KR", serif;
}
*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    text-decoration: none;
}
html{
    width: 100%; 
    background: var(--color-n4);

    }
body{
    font-family:  "NEXON Lv1 Gothic OTF";
}
/* header*/

.headertop{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}
.index_all{
    position: relative;
    right:18%;
    z-index: 100;
}
.index_all ul{
    display: flex;
    list-style: none;
    font-size: var(--index-font);
}
.index_all ul li{
    margin: 0 50px;
    padding: 3px 3px;
}
.index_allul li a{
    padding: 0 15px;
    color: var(--color-n1);
    font-weight: 600;
    letter-spacing: 2px;

}
.index_allul li a:hover{
    transition: 0.2s;
    color:var(--color-n2);  
}

.tooglebtn{
    display: none;
    position: absolute;
    right: 32px;
    font-size: 30px;
}
.close{
    display: none;
}
.frist{
    font-family: "KyoboHand";
    height: 90vh;
}
 
.maintxt{
    position: relative;
   

}
.maintxt p{
     
    font-size: 8rem;
    font-weight: 600;
    color: var(--color-n1);
    text-shadow: 0 3px 1px var(--color-n2);
    }
.mainimg2{
    position: absolute;
    top: 25%;
    left: 65%;
    background: var(--color-n3);
    box-shadow: 2px 5px 8px black;
    width: 400px;
    padding: 30px 0;
    padding-left: 10px;
    border-radius: 100%;
    transform: rotate(20deg);
}
/* header end*/

/* 큰 제목*/
 
.topbtn{
    display: none;
    box-shadow: 0 5px 8px black ;
    background: #FFFF;
    padding-left: 3px;
    padding-right: 3px;
    font-size: 40px;
    position: fixed;
    right: 5%;
    bottom: 30px;
    border: 1px solid  #FFFF;
    border-radius: 100%;
    cursor: pointer; 
    z-index: 990;
}
.topbtn i{
    color: var(--color-n1);
}
 

/*about*/
.aboutme{
    margin-top:80px;
    margin-left:50px;
}
.abouttitle{
    font-size: var(--font-title);
    color: var(--color-n1);
}
.abouttext{
    display: flex;
}
.about{
    opacity: 0;
    transform: translateY(50px);
    transition: all 1s ease-out;
}
.about h3{
    width: 54%;
    font-size: 2rem;
    color: var(--color-n2);
}
.abouttext.show .about{
    opacity: 1;
    transform: translateY(0);
}

.aboutsub{
    width: 80%;
    margin-right: 30px;
}
.aboutsub h3{
    margin-left: 10px;
    margin-bottom: 20px;
    font-size: var(--font-projectsub);
    color: var(--color-n1);
}
.aboutsub p{
    font-size: var(--font-projectsubsub);
    color: var(--color-n1);
}
.aboutsub1,
.aboutsub2,
.aboutsub3{
    background-color:var(--color-n3); 
    border-radius: 50px; 
    margin-bottom: 30px;
    box-shadow: 0px 2px 5px;
    padding: 20px;
}
.aboutsub1{
    opacity: 0;
    transition: all 0.5s ease-out;
}
.aboutsub2{
    opacity: 0;
    transition: all 0.3s ease-out;
    animation-delay: 1s;
}
.aboutsub3{
    opacity: 0;
    transition: all 0.3s ease-out;
    animation-delay: 1.3s;
}
 
.aboutsub.show .aboutsub1{
    opacity: 1;
}
.aboutsub.show .aboutsub2{
    opacity: 1;
    transition-delay: 1s;
}
.aboutsub.show .aboutsub3{
    opacity: 1;
    transition-delay: 1.5s;
}

/*porfile*/
#sectionprofile{
    margin-top: 80px;
    margin-left: 50px;
}
.profile_title h2{
    font-size: var(--font-title);
    color: var(--color-n1);
}

.profile_title p{
    font-size: var(--font-projectsubsub);
    color: var(--color-n2);
} 
.profile{
    display: flex;
    justify-content: center;
    align-items: center;
}
.profileimg{
    box-shadow: 0 2px 10px gray;
    border-radius: 20px;
    width: 300px;
    height: 370px;
}
/*
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: 0px 4px 2px #999 ;*/

.profile_all{
    padding: 100px 60px;
    margin: 0 50px;
    display: grid;
    grid-template-columns: 250px 400px;
    grid-template-rows: 100px 100px;
    gap: 65px 50px ;
    box-shadow: 0px 3px 7px gray;
    border-radius: 20px;
    border: solid var(--color-n3) 5px;
}
.profile_all h2{
    color: var(--color-n1);
    margin-bottom: 10px;
}
.profile_all ul{
    list-style: none;
}
.profile_all ul li{
    margin-top: 5px;
    display: flex;
    align-items: center;
    font-size: var(--font-projectsubsub);
}
.profile_all ul li p:nth-child(1){
    color: var(--color-n1);
    font-weight: 700;
}
.profile_all ul li p:nth-child(2){
    color: var(--color-n1);
    display: flex;
    justify-content: right;
    margin-left: 15px;
}


 .skills ul{
    display: flex;
 }
 .skills ul li img{
    border-radius: 10px;
    margin: 0 10px;
    width: 50px;
    height: 50px;
 }

/*project start*/
#projectall{
    margin-top: 70px;
    margin-left: 50px;
    
}
.projecth3{
    font-size: var(--font-title);
    color: var(--color-n1);
}

.projectname{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    margin: 0 50px;
 
}
.projectname li,
.projectsubname li{
    list-style: none;
    
}
.projectname li{
     
    margin: 30px;
    padding: 10px;
    border-radius: 30px;
    border: solid var(--color-n4);
}
.projectname li button{
    margin: 0 10px;
    border: none;
    background: none;
    cursor: pointer;
    font-size: var(--font-projectsubsub);
    color: var(--color-n1);
    font-weight: 500;
}
.projectname li:hover{
    color: var(--color-n2);
    border: solid var(--color-n2) 3px;
}
.projectname li:hover button{
    color: var(--color-n2);
}
.projectsubname{
    margin-top: 30px;   
}
 

.alramtext h3,
.oneclciktext h3,
.smartperfumetext h3,
.torridnetext h3,
.homepagetext h3{
    font-size: var(--font-project);
    color: var(--color-n1);
    margin-bottom: 10px;
}
 
.torridnetext p{
    font-size: var(--font-projectsubsub);
    color: var(--color-n2);
    margin-top: 15px;
}
.alramsubtext ul li,
.oneclciksubtext ul li,
.smartperfumesubtext ul li,
.torridensubtext ul li,
.homepagesubtext ul li{
    display: block;
    color: var(--color-n1);
    font-size: var(--font-projectsub);
}
.alramsubtext ul li p:nth-child(1),
.oneclciksubtext ul li p:nth-child(1),
.smartperfumesubtext ul li p:nth-child(1),
.torridensubtext ul li p:nth-child(1),
.homepagesubtext ul li p:nth-child(1){
    font-weight: 700;
}
.alramsubtext ul li p:nth-child(2),
.oneclciksubtext ul li p:nth-child(2),
.smartperfumesubtext ul li p:nth-child(2),
.torridensubtext ul li p:nth-child(2),
.homepagesubtext ul li p:nth-child(2){
    font-size: var(--font-projectsubsub);
    margin: 7px 0;
}
.mediatext{
    display: none;
}
 
.button1A,
.button1B,
.button1C,
.button1D,
.button1E,
.button2,
.button3{
    margin-top: 15px;
    margin-right: 10px;
    padding: 6px 30px;
    border-radius: 20px;
    text-align: center;
    font-size: var(--font-btn);
    color:var(--color-n1);
    background: none;
    background: var(--color-n3);
    font-weight: 550;
    border: none;
    box-shadow: 0px 1px 5px hwb(0 50% 50%);
    cursor: pointer;
}

.button1A:hover,
.button1B:hover,
.button1C:hover,
.button1D:hover,
.button1E:hover,
.button2:hover,
.button3:hover
 {
    transition: 0.2s;
    color: white;

}
.viewbtn_media1{
    display: none;
}
 
.modalA,
.modalB,
.modalC,
.modalD,
.modalE{
    display: none; /* 모달 기본 숨김 */
    position: fixed; /* 화면 고정 */
    z-index: 999; /* 다른 콘텐츠 위에 띄움 */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(128, 128, 128, 0.5); /* 배경 어둡게 */
    padding-top: 60px; /* 위쪽에 약간의 여백 */
    pointer-events: auto;
}
.modal-containerA,
.modal-containerB,
.modal-containerC,
.modal-containerD,
.modal-containerE{
    margin: auto;
    display: block;
    width: 65%;
    max-height: 80vh; /* 화면 높이의 80%로 제한 */
    overflow-y: auto; /* 세로 스크롤을 활성화 */
    overflow-x: hidden; /* 가로 스크롤은 비활성화 */
    height: 100vh; /* 모달 내에서 세로 길이를 고정 */
    object-fit: contain;
}
 
.button1imgA,
.button1imgB,
.button1imgC,
.button1imgD,
.button1imgE{
    width: 100%;
    height: auto;
    object-fit: contain; /* 이미지가 비율에 맞게 크기 조정 */
}
.closeA,
.closeB,
.closeC,
.closeD,
.closeE{
    position: absolute;
    top: 15px;
    right: 35px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
  }
 /*alram*/
 .alramimg{
    position: absolute;
    right: 7%;
    margin-top: 40px;
 }
.perfumeapp{
    position: absolute;
    margin-top: 30px;
    right: 12%;
}
/* torriden*/
.torridentextmain,
.homepagemaintetext,
.smartperfumemaintetext,
.alrammaintext,
.oneclcikmaintext
{
   margin: 0 100px;
}
.torrideimg{
    box-shadow: 0 3px 5px gray;
    width: 500px;
    height: 450px;
}
/* homepage*/
.homepageimg{
    box-shadow: 0 3px 5px gray;
    width: 500px;
    height: 450px;
}
.mediaprojecttext{
   display: none;
}

/*design*/
#designall{
    margin-top: 100px;
    margin-left: 50px;
}
.design{
    font-size: var(--font-title);
    color: var(--color-n1);
}
.designp{
    color: var(--color-n2);
}
.designimg{
    margin-top: 30px;
}
.designimg ul{
    display: flex;
    text-align: center;
    justify-content: center;
    list-style: none;
    height: 500px;
     
}
.designimg ul li {
    position: relative;
    display: inline-block;
    overflow: hidden;
    
}
.designtext,
.designtextb{
    position: absolute;
    top: 0;
    left: 0;
    width: 93%;
    margin-left: 18px;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.5);
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s ease;
    text-align: center;
    color: var(--color-n4);
    font-size: var(--font-projectsub);
    opacity: 0;
}
.designimg1,
.designimg2{
    margin: 0 30px;
    margin-top: 20px;
    width: 400px;
}
.designimgA:hover .designtext,
.designimgB:hover .designtextb{
    opacity: 1; 
    
}
.designimgA:hover .designimg1,
.designimgB:hover .designimg2{
    opacity: 1; 
    transform: scale(1.05); /* 이미지가 조금 커짐 */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3); /* 입체감 있는 그림자 추가 */
}
.desmodal {
    display: none; /* 기본적으로 숨겨짐 */
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* 어두운 배경 */
    padding-top: 60px;
  }

  .desmodal-content-container {
    margin: auto;
    max-width: 80%;
    max-height: 80vh;
    border-radius: 10px;
    overflow-y: auto; /* 세로 스크롤 */
    overflow-x: hidden;
    height: 80vh;
  }

  .desmodal-content {
    width: 100%;
    height: auto;
    object-fit: contain; /* 비율에 맞게 조정 */
  }

  /* 닫기 버튼 */
  .desclose {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
  }
 
/* contact */
#contact_all{
    background: var(--color-n2);
    width: 100%;
    height: 60vh;
    margin-top: 50px;
}
.contacttitle{
    text-align: center;
    padding-top: 100px;
}
.contacttitle h2{
    font-size: var(--font-title);
    color: var(--color-n1);
}
.contacttitle p{
    font-size: var(--font-projectsub);
    color: var(--color-n1);
    margin-bottom: 15px;
}
.contact_id{  
 text-align: center;
 color: var(--color-n1);
}
.contact_id i{
    font-size: 30px;
}
.contact_git{
    margin-left: 70px;
}
.contact_mail,
.contact_git{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.contact_id p{
    margin-bottom: 5px;
    margin-left: 30px;
    font-size: var(--font-projectsub);
    color: var(--color-n1);
}
 