@font-face {
    font-family: 'KyoboHand';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/KyoboHand.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'NEXON Lv1 Gothic OTF';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff');
    unicode-range: U+AC00-D7A3;
}
:root{
    --index-font:1.1rem;
    --font-title:3.2rem;
    --font-title2:2.5rem;
    --font-project:40px;
    --font-projectsub:22px;
    --font-projectsubsub:18px;
    --color-n1:#4C585B;
    --color-n2:#7E99A3;
    --color-n3:#A5BFCC;
    --color-n4:#F4EDD3;
    --font-korea:"Noto Serif KR", serif;
}
*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    text-decoration: none;
}
html{
    width: 100%; 
    background: var(--color-n4);

    }
body{
    font-family:  "NEXON Lv1 Gothic OTF";
    cursor: default;
    caret-color: transparent;
}
/* header*/

.headertop{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}
.index_all{
    position: relative;
    right:18%;
    z-index: 100;
}
.index_all ul{
    display: flex;
    list-style: none;
    font-size: var(--index-font);
}
.index_all ul li{
    margin: 0 50px;
    padding: 7px 7px; 
    
}
.index_allul li a{
    padding: 7px 10px; 
    color: var(--color-n1);
    font-weight: 600;
    letter-spacing: 2px;
 
 
}
.index_allul li:hover{
    background: var(--color-n3);
    border-radius: 20px;
    transition: 0.3s;
}
.index_allul li a:hover{
    color: var(--color-n4);
    transition: 0.3s;
}

.tooglebtn{
    display: none;
    position: absolute;
    right: 32px;
    font-size: 30px;
}
.close{
    display: none;
}
.frist{
    position: relative;
    height: 95vh;
    overflow: hidden;
}

.mainback img:first-child {
    position: absolute;
    top: 0%;
    left: -10%;
    width: 120%;
}
.mainback img:nth-child(2){
    position: absolute;
    top: -70%;
    left: -30%;
    width: 100%;
}
.maintextimg{
    margin-top: 35px;
    display: flex;
    flex-direction: column;  
    align-items: center; 
}
.maintextimg img{
    opacity: 0;   
    transform: translateY(30px);  /* 이미지는 아래쪽에서 시작 */
    animation: slideUp 1s ease-in-out forwards;
    width: 55%;
    position: relative;
    display: block; 
    margin: 0 auto;
}
@keyframes slideUp {
    0% {
        opacity: 0;
        transform: translateY(30px);  /* 아래쪽에서 시작 */
    }
    100% {
        opacity: 1;
        transform: translateY(0);  /* 원래 위치로 이동 */
    }
}
.maintextimg img:nth-child(1) {
    animation-delay: 0.1s; 
}

.maintextimg img:nth-child(2) {
    animation-delay: 0.4s;  
}

.maintextimg img:nth-child(3) {
    animation-delay: 0.7s;  
}
/* header end*/

/* 큰 제목*/
 
.topbtn{
    display: none;
    box-shadow: 0 5px 8px black ;
    background: #FFFF;
    padding-left: 3px;
    padding-right: 3px;
    font-size: 40px;
    position: fixed;
    right: 5%;
    bottom: 30px;
    border: 1px solid  #FFFF;
    border-radius: 100%;
    cursor: pointer; 
    z-index: 990;
}
.topbtn i{
    color: var(--color-n1);
}


/*about*/
.aboutme{
    margin-top:80px;
    margin-left:50px;
}
.abouttitle{
    font-size: var(--font-title);
    color: var(--color-n1);
    text-shadow: 0 5px 2px var(--color-n3);
}
.abouttext{
    display: flex;
}
.about{
    opacity: 0;
    transform: translateY(50px);
    transition: all 1s ease-out;
}
.about h3{
    margin-top: 5px;
    width: 55%; 
    font-size: 1.4rem;
    color: var(--color-n2);
}
.abouttext.show .about{
    opacity: 1;
    transform: translateY(0);
}

.aboutsub{
    width: 80%;
    margin-right: 30px;
}
.aboutsub h3{
    margin-left: 10px;
    margin-bottom: 20px;
    font-size: var(--font-projectsub);
    color: var(--color-n1);
}
.aboutsub p{
    font-size: var(--font-projectsubsub);
    color: var(--color-n1);
}
.aboutsub1,
.aboutsub2{
    background-color:var(--color-n3); 
    border-radius: 50px; 
    margin-bottom: 30px;
    box-shadow: 0px 2px 5px;
    padding: 25px;
}
.aboutsub1{
    opacity: 0;
    transition: all 0.5s ease-out;
}
.aboutsub2{
    opacity: 0;
    transition: all 0.3s ease-out;
    animation-delay: 1s;
}
 
.aboutsub.show .aboutsub1{
    opacity: 1;
}
.aboutsub.show .aboutsub2{
    opacity: 1;
    transition-delay: 1s;
}

/*porfile*/
#sectionprofile{
    margin-top: 80px;
    margin-left: 50px;
}
.profile_title{
    margin-bottom: 20px;
}
.profile_title h3{
    font-size: var(--font-title);
    color: var(--color-n1);
    text-shadow: 0 5px 2px var(--color-n3);
}

.profile_title p{
    font-size: var(--font-projectsubsub);
    color: var(--color-n2);
} 
.profile{
    display: flex;
    justify-content: center;
    align-items: center;
} 
.profile_all{
    padding: 100px 60px;
    margin: 0 50px;
    display: grid;
    grid-template-columns: 250px 400px;
    grid-template-rows: 100px 100px;
    gap: 65px 50px;
    box-shadow: 0px 3px 7px gray;
    border-radius: 20px;
    border: solid var(--color-n3) 5px;
    opacity: 0; /* 초기에는 보이지 않도록 */
    transform: translateX(50px); /* 밑에서 위로 오는 효과 */
    transition: all 0.8s ease-out; /* 부드럽게 이동 */
}
.profile_all.active {
    opacity: 1;
    transform: translateX(0); /* 원래 위치로 이동 */
}
.myimg{
    opacity: 0; /* 초기에는 보이지 않도록 */
    transform: translateX(-50px); /* 밑에서 위로 오는 효과 */
    transition: all 0.8s ease-out; /* 부드럽게 이동 */
}
.myimg.active{
    opacity: 1;
    transform: translateX(0);
}
.profile_all h2{
    color: var(--color-n1);
    margin-bottom: 10px;
}
.profile_all ul{
    list-style: none;
}
.profile_all ul li{
    margin-top: 5px;
    display: flex;
    align-items: center;
    font-size: var(--font-projectsubsub);
}
.profile_all ul li p:nth-child(1){
    color: var(--color-n1);
    font-weight: 700;
}
.profile_all ul li p:nth-child(2){
    color: var(--color-n1);
    display: flex;
    justify-content: right;
    margin-left: 15px;
}

 .skills ul{
    display: flex;
 }
 .skills ul li img{
    border-radius: 10px;
    margin: 0 10px;
    width: 50px;
    height: 50px;
 }

/*project start*/
#projectall {
    margin-top: 70px;
    margin-left: 50px;
    
}
.projectbigname{
    width: 98%;
    display: flex;
    align-items: center;
 
}
.projecth3{
    font-size: var(--font-title);
    color: var(--color-n1);
    text-shadow: 0 5px 2px var(--color-n3);
}
.projectleft{
    flex-grow: 1; /* 선이 텍스트 양옆으로 길게 확장되도록 */
    border: none;
    border-top: 2px solid var(--color-n1); /* 선 두께와 색상 설정 */
    margin-right: 10px; /* 텍스트와 선 사이의 간격 */
}
.projectright{
    flex-grow: 1; /* 선이 텍스트 양옆으로 길게 확장되도록 */
    border: none;
    border-top: 2px solid var(--color-n1); /* 선 두께와 색상 설정 */
    margin-right: 10px; /* 텍스트와 선 사이의 간격 */
}

.projectname{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    margin: 0 50px;
 
}
.projectname li,
.projectsubname li{
    list-style: none;
    
}
.projectname li{  
    margin: 30px;
    padding: 10px;
    border-radius: 30px;
    border: solid var(--color-n4);
}
.projectname li button{
    margin: 0 10px;
    border: none;
    background: none;
    cursor: pointer;
    font-size: var(--font-projectsubsub);
    color: var(--color-n1);
    font-weight: 500;
 
}
.projectname li:hover{
    color: var(--color-n2);
    border: solid var(--color-n2) 3px;
    transition: 0.5s;
}
.projectname li:hover button{
    transition: 0.5s;
    color: var(--color-n2);
}
.projectsubname{
    margin-top: 30px;   
}
 
.owarldtext h3,
.alramtext h3,
.oneclciktext h3,
.smartperfumetext h3,
.torridnetext h3,
.homepagetext h3{
    font-size: var(--font-project);
    color: var(--color-n1);
    margin-bottom: 10px;
}
 
.torridnetext p{
    font-size: var(--font-projectsubsub);
    color: var(--color-n2);
    margin-top: 15px;
}
.owarldsubtext ul li,
.alramsubtext ul li,
.oneclciksubtext ul li,
.smartperfumesubtext ul li,
.torridensubtext ul li,
.homepagesubtext ul li{
    display: block;
    color: var(--color-n1);
    font-size: var(--font-projectsub);
}
.owarldsubtext ul li p:nth-child(1),
.alramsubtext ul li p:nth-child(1),
.oneclciksubtext ul li p:nth-child(1),
.smartperfumesubtext ul li p:nth-child(1),
.torridensubtext ul li p:nth-child(1),
.homepagesubtext ul li p:nth-child(1){
    font-weight: 700;
}
.owarldsubtext ul li p:nth-child(2),
.alramsubtext ul li p:nth-child(2),
.oneclciksubtext ul li p:nth-child(2),
.smartperfumesubtext ul li p:nth-child(2),
.torridensubtext ul li p:nth-child(2),
.homepagesubtext ul li p:nth-child(2){
    font-size: var(--font-projectsubsub);
    margin: 7px 0;
}
.mediatext{
    display: none;
}
.button1Z,
.button1A,
.button1B,
.button1C,
.button1D,
.button1E,
.button2,
.button3{
    margin-top: 15px;
    margin-right: 10px;
    padding: 6px 30px;
    border-radius: 20px;
    text-align: center;
    font-size: var(--font-btn);
    color:var(--color-n1);
    background: none;
    background: var(--color-n3);
    font-weight: 550;
    border: none;
    box-shadow: 0px 1px 5px hwb(0 50% 50%);
    cursor: pointer;
}
.button1Z:hover,
.button1A:hover,
.button1B:hover,
.button1C:hover,
.button1D:hover,
.button1E:hover,
.button2:hover,
.button3:hover
 {
    transition: 0.2s;
    color: white;

}
.viewbtn_media1{
    display: none;
}
.modalZ,
.modalA,
.modalB,
.modalC,
.modalD,
.modalE{
    display: none; /* 모달 기본 숨김 */
    position: fixed; /* 화면 고정 */
    z-index: 999; /* 다른 콘텐츠 위에 띄움 */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(128, 128, 128, 0.5); /* 배경 어둡게 */
    padding-top: 60px; /* 위쪽에 약간의 여백 */
    pointer-events: auto;
}
.modal-containerZ,
.modal-containerA,
.modal-containerB,
.modal-containerC,
.modal-containerD,
.modal-containerE{
    margin: auto;
    display: block;
    width: 65%;
    max-height: 90vh; /* 화면 높이의 80%로 제한 */
    overflow-y: auto; /* 세로 스크롤을 활성화 */
    overflow-x: hidden; /* 가로 스크롤은 비활성화 */
    height: 90vh; /* 모달 내에서 세로 길이를 고정 */
    object-fit: contain;
}
.button1imgZ,
.button1imgA,
.button1imgB,
.button1imgC,
.button1imgD,
.button1imgE{
    width: 100%;
    height: auto;
    object-fit: contain; /* 이미지가 비율에 맞게 크기 조정 */
}
.closeZ,
.closeA,
.closeB,
.closeC,
.closeD,
.closeE{
    position: absolute;
    top: 15px;
    right: 35px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
  }
 /*alram*/
 .alramimg{
    position: absolute;
    right: 7%;
    margin-top: 40px;
 }
.perfumeapp{
    position: absolute;
    margin-top: 30px;
    right: 12%;
}
/* torriden*/
.owarldtextmain,
.torridentextmain,
.homepagemaintetext,
.smartperfumemaintetext,
.alrammaintext,
.oneclcikmaintext
{
   margin: 0 100px;
}
.torrideimg{
    box-shadow: 0 3px 5px gray;
    width: 500px;
    height: 450px;
    margin-left: 50px;
}
.zooimg{
    box-shadow: 0 3px 5px gray;
    width: 500px;
    height: 450px;
}
/* homepage*/
.homepageimg{
    box-shadow: 0 3px 5px gray;
    width: 500px;
    height: 450px;
}
.mediaprojecttext{
   display: none;
}

/*design*/
#designall{
    margin-top: 100px;
 
}
.design{
    margin-left: 50px;
    font-size: var(--font-title);
    color: var(--color-n1);
    text-shadow: 0 5px 2px var(--color-n3);
}
 
.designimg{
    margin-top: 30px;
}
.designimg ul{
    display: flex;
    text-align: center;
    justify-content: center;
    list-style: none;
    height: 500px;
     
}
.designimg ul li {
    position: relative;
    display: inline-block;
    overflow: hidden;
    margin: 0 20px;
    
}
.designtext,
.designtextb,
.designtextc{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.5);
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s ease;
    text-align: center;
    color: var(--color-n4);
    font-size: var(--font-projectsub);
    opacity: 0;
}
.designimg1,
.designimg2,
.designimg3{
    width: 300px;
}
.designimgA:hover .designtext,
.designimgB:hover .designtextb,
.designimgC:hover .designtextc{
    opacity: 1; 
    
}
.designimgA:hover .designimg1,
.designimgB:hover .designimg2,
.designimgC:hover .designimg3{
    opacity: 1; 
    transform: scale(1.02); /* 이미지가 조금 커짐 */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3); /* 입체감 있는 그림자 추가 */
}
.desmodal {
    display: none; /* 기본적으로 숨겨짐 */
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* 어두운 배경 */
    padding-top: 60px;
  }

  .desmodal-content-container {
    margin: auto;
    max-width: 55%;
    max-height: 90vh;
    border-radius: 10px;
    overflow-y: auto; /* 세로 스크롤 */
    overflow-x: hidden;
    height: 95vh;
  }

  .desmodal-content {
    width: 100%;
    height: auto;
    object-fit: contain; /* 비율에 맞게 조정 */
  }

  /* 닫기 버튼 */
  .desclose {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
  }
.detailtxtp{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.designp{
    color: var(--color-n2);
}
.minall{
    margin: 50px 0;
}
.detailtxt,
.minimgtxt,
.minimgXtxt{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.minimgXtxt{
    margin-bottom: 20px;
}
 
.left{
    flex-grow: 1; /* 선이 텍스트 양옆으로 길게 확장되도록 */
    border: none;
    border-top: 2px solid var(--color-n2); /* 선 두께와 색상 설정 */
    margin-right: 10px; /* 텍스트와 선 사이의 간격 */
}
.right {
    flex-grow: 1; /* 오른쪽 선도 텍스트 양옆으로 길게 확장되도록 */
    border: none;
    border-top: 2px solid var(--color-n2); /* 선 두께와 색상 설정 */
    margin-left: 10px;  
}
.detailtxt span,
.minimgtxt span,
.minimgXtxt span{
    color: var(--color-n2);
    font-size: var(--font-project);
    text-shadow: 0 1px 1px black;
}
.minimg{
    margin: 20px 0;
}
.minimg ul{
    display: flex;
    align-items: center;
    justify-content: center;  
   
}
.minimg ul li{
    list-style: none;
    margin: 0 20px; 
}
.minimg img{
 
    width: 250px;
    height: 280px;
}
.minimgX{
    display: flex;
    justify-content: center;
}
.minimgX ul li{
    list-style: none;
    margin: 10px 0;
}
/* contact */
#contact_all{
    background: var(--color-n2);
    width: 100%;
    margin-top: 50px;
    padding:70px;
}
.contacttitle{
    margin-bottom: 30px;
}
.contacttitle p{
    font-size: var(--font-title2);
    color: var(--color-n1);
}
.contacttitle :nth-child(2){
    font-size: var(--font-projectsub);
    color: var(--color-n1);
    margin-top: 5px;
}
.contact_id{
    margin-top:50px;
}
.contact_mail{
    font-size: var(--font-title2);
    display: flex;
    align-items: center;
    color: var(--color-n4);
    text-shadow: 2px 2px 3px var(--color-n2);
    margin-bottom: 5px;
}
.contact_mail i{
    margin-top: 10px;
    margin-right: 15px;
    color: var(--color-n4);    
}
.contact_mail p{
    cursor: pointer;
    font-weight: 500;
    font-size: var(--font-title2);
    text-shadow: 2px 2px 3px var(--color-n2);
}
.contact_mail p:hover{
    background-image:linear-gradient(85deg, #F4EDD3 40%,#4C585B 100%);
    -webkit-background-clip: text; /* 텍스트에만 배경을 적용 */
    color: transparent; /* 텍스트 색상을 투명하게 설정 */
}
.contact_idtext p{
    margin-top: 5px;
    color: var(--color-n1);
    font-size: var(--font-projectsub);
} 