@font-face {
    font-family: 'GowunBatang-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    unicode-range: U+AC00-D7A3;
}


@font-face {
    font-family: 'GowunBatang-Regular';
    src:url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Qwitcher+Grypen&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap') format('woff');
    font-weight: normal;
    font-style: normal;
    unicode-range: U+0020-007F;
}
:root{
    --index-font:1rem;
    --font-title:2.7rem;
    --font-title2:2.5rem;
    --font-project:40px;
    --font-projectsub:22px;
    --font-projectsubsub:18px;
    --color-n1:#333333;
    --color-n2:#616161;
    --color-n3:#518071;
    --color-n4:#f2ecff;
    --color-main:#5fe36a;
}
*{
    
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    text-decoration: none;
 
 
}
html{
    width: 100%; 
    }
body{
    font-family:  "GowunBatang-Regular",sans-serif;
    cursor: default;
    caret-color: transparent;
    background-color: #fffde9;
}
/* header*/

.headertop{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}
.index_all{
 
    z-index: 100;
}
.index_all ul{
    display: flex;
    list-style: none;
    font-size: var(--index-font);
}
.index_all ul li{
    margin: 0 25px;
    padding: 7px 7px;
}
.index_allul li a{
    padding: 7px 10px; 
    color: var(--color-n1);
    font-weight: 400;
    letter-spacing: 2px;
}
 
.index_allul li a:hover{
    color: var(--color-n3);
    transition: 0.3s;
}

.tooglebtn{
    display: none;
    position: absolute;
    right: 32px;
    font-size: 30px;
}
.close{
    display: none;
}
.frist{
    height: 95vh;     
}
.mainback{
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
}
.mainback img{
    margin-top: 50px;
    width: 87%;

}
.maintextimg {
    margin-top: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 0.1s linear;
 
 
}
.maintextimg img {
    max-width: 100%;
    height: auto;
}
.subtext{
    position: absolute;
    bottom:1%;
}
.subtext img{
    width: 80%;
}
 
/* header end*/

/* 큰 제목*/
 
.topbtn{
    display: none;
    box-shadow: 0 3px 5px rgba(109, 109, 109, 0.5) ;
    background: rgb(255, 255, 255,0.5);
    padding-left: 3px;
    padding-right: 3px;
    font-size: 40px;
    position: fixed;
    right: 5%;
    bottom: 30px;
    border: none;
    border-radius: 100%;
    cursor: pointer; 
    z-index: 990;
}
.topbtn i{
    color: var(--color-n1);
}


/*about*/
.aboutme{
    margin-top:80px;
    margin-left:50px;
}
.abouttitle{
    font-size: var(--font-title);
    color: var(--color-n1);
    text-shadow: 0px 3px 2px var(--color-n2);
}
.abouttext{
    display: flex;
}
.about{
    opacity: 0;
    transform: translateY(50px);
    transition: all 1s ease-out;
}
.about h3{
    margin-top: 5px;
    width: 55%; 
    font-size: 1.2rem;
    font-weight: 200;
    color: var(--color-n3);
}
.abouttext.show .about{
    opacity: 1;
    transform: translateY(0);
}

.aboutsub{
    width: 80%;
    margin-right: 30px;
}
.aboutsub h3{
    margin-left: 10px;
    margin-bottom: 20px;
    font-size: var(--font-projectsub);
    color: var(--color-n1);
}
.aboutsub p{
    font-size: var(--font-projectsubsub);
    margin-left: 10px;
    color: var(--color-n1);
}
.aboutsub1,
.aboutsub2{
    background-color :#d6dec5;
    border-radius: 50px; 
    margin-bottom: 30px;
    box-shadow: 0px 1px 3px var(--color-n2);
    padding: 25px;
}
.aboutsub1{
    opacity: 0;
    transition: all 0.5s ease-out;
}
.aboutsub2{
    opacity: 0;
    transition: all 0.3s ease-out;
    animation-delay: 1s;
}
 
.aboutsub.show .aboutsub1{
    opacity: 1;
}
.aboutsub.show .aboutsub2{
    opacity: 1;
    transition-delay: 1s;
}

/*porfile*/
#sectionprofile{
    margin-top: 80px;
    margin-left: 50px;
}
.profile_title{
    margin-bottom: 20px;
}
.profile_title h3{
    font-size: var(--font-title);
    color: var(--color-n1);
    text-shadow: 0px 3px 2px var(--color-n2);
}

.profile_title p{
    font-size: var(--font-projectsubsub);
    font-weight: 300;
    color: var(--color-n3);
} 
.profile{
    display: flex;
    justify-content: center;
    align-items: center;
} 
.profile_all{
    background-color: rgba(255, 255, 255, 0.3);
    font-family: 'NanumSquareRound';
    padding: 80px 60px;
    margin: 0 50px;
    display: grid;
    grid-template-columns: 250px 400px;
    grid-template-rows: 100px 100px;
    gap: 65px 65px;
    box-shadow: 0 1px 2px var(--color-n1);
    border-radius: 20px;
    border: solid #acbfa5 3px;
    opacity: 0; /* 초기에는 보이지 않도록 */
    transform: translateX(50px); /* 밑에서 위로 오는 효과 */
    transition: all 0.8s ease-out; /* 부드럽게 이동 */
}
.profile_all.active {
    opacity: 1;
    transform: translateX(0); /* 원래 위치로 이동 */
}
.myimg{
    opacity: 0; /* 초기에는 보이지 않도록 */
    transform: translateX(-50px); /* 밑에서 위로 오는 효과 */
    transition: all 0.8s ease-out; /* 부드럽게 이동 */
}
.myimg.active{
    opacity: 1;
    transform: translateX(0);
}
.profile_all h2{
    color: var(--color-n1);
    margin-bottom: 10px;
}
.profile_all ul{
    list-style: none;
}
.profile_all ul li{
    margin-top: 5px;
    display: flex;
    align-items: center;
    font-size: var(--font-projectsubsub);
}
.profile_all ul li p:nth-child(1){
    color: var(--color-n1);
    font-weight: 700;
}
.profile_all ul li p:nth-child(2){
    color: var(--color-n1);
    display: flex;
    justify-content: right;
    margin-left: 15px;
}

 .skills ul{
    display: flex;
 }
 .skills ul li img{
    border-radius: 10px;
    margin: 0 10px;
    width: 50px;
    height: 50px;
 }

 /*project*/
 #projectcontact{
    margin-top: 80px;
    padding: 20px 0;
 }

 #projectcontact h3{
    margin-left:50px;
    font-size: var(--font-title);
    color: var(--color-n1);
    text-shadow: 0px 3px 2px var(--color-n2);
 }
.fristproject,
.secondproject{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}
.finalproject{
    display: flex;
    align-items: center;
    justify-content: start;
    margin-top: 50px;
}
.fristproject div img:hover,
.secondproject div img:hover,
.finalproject div img:hover{
    box-shadow: 0 2px 8px rgb(158, 158, 158);
    transition: all 0.3s ease;
}
.projecta,
.projectc{ 
    margin-right: 50px;
}
.fristproject img,
.secondproject img,
.finalproject img{ 
    border: 1px solid rgb(128, 128, 128,0.3);
    border-radius: 30px;
    width: 85%;
}
.projecte {
    position: relative;
    left: 15%;
}
.projecta p,
.projectb p,
.projectc p,
.projectd p ,
.projecte p{
    margin-left: 15px;
}
.projecta p:nth-of-type(1),
.projectb p:nth-of-type(1),
.projectc p:nth-of-type(1),
.projectd p:nth-of-type(1),
.projecte p:nth-of-type(1){
    
    margin-top: 5px;
    color: var(--color-n1);
    font-weight: bold;
    font-size: var(--font-projectsub);
}

.projecta p:nth-of-type(2),
.projectb p:nth-of-type(2),
.projectc p:nth-of-type(2),
.projectd p:nth-of-type(2),
.projecte p:nth-of-type(2){
    margin-top: 2px;
    color: var(--color-n2);
    font-size: var(--font-projectsubsub);
}
 
.projectb
.projectc{
    margin-left: 50px;
}
/*design*/
#designall{
    margin-top: 100px;
    padding-bottom: 50px;
 
 
}
.design{
    padding-top: 15px;
    font-size: var(--font-title);
    color: var(--color-n1);
    text-shadow: 0px 3px 2px var(--color-n2);
    margin-left: 50px;
    margin-bottom: 70px;
}
 .designimg ul{
    display: flex;
    text-align: center;
    justify-content: center;
    list-style: none;
    height: 500px;
 
  
}
.designimg ul li {
    position: relative;
    display: inline-block;
    overflow: hidden;
    margin: 0 20px;
    
}
.designtext,
.designtextb,
.designtextc,
.designtextD{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.3);
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s ease;
    text-align: center;
    color: var(--color-n4);
    font-size: var(--font-projectsub);
    opacity: 0;
}
.designimg1,
.designimg2,
.designimg3,
.designimg4{
    width: 270px;
   
}
.designimgA:hover .designtext,
.designimgB:hover .designtextb,
.designimgC:hover .designtextc,
.designimgD:hover .designtextD{
    opacity: 1; 
    
}
.designimgA:hover .designimg1,
.designimgB:hover .designimg2,
.designimgC:hover .designimg3,
.designimgD:hover .designimg4{
    opacity: 1; 
    transform: scale(1.02); /* 이미지가 조금 커짐 */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3); /* 입체감 있는 그림자 추가 */
}
.desmodal {
    display: none; /* 기본적으로 숨겨짐 */
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* 어두운 배경 */
    padding-top: 60px;
  }

  .desmodal-content-container {
    margin: auto;
    max-width: 47%;
    max-height: 95vh;
    border-radius: 10px;
    overflow-y: auto; /* 세로 스크롤 */
    overflow-x: hidden;
    height: 95vh;
  }

  .desmodal-content {
    width: 100%;
    height: auto;
    object-fit: contain; /* 비율에 맞게 조정 */
  }

  /* 닫기 버튼 */
  .desclose {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
  }
.detailtxtp{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.designp{
    color: rgb(97, 97, 97,0.8);
    opacity: 0.7;
    font-weight: 100;
    letter-spacing:1.5px;
}
.hidden .step {
    opacity: 0;
    transform: translateY(50px);
  }
  
  .show .step {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.2s ease-out, transform 0.5s ease-out;
  }
  
  .show .step:nth-child(1) {
    transition-delay: 0s;
  }
  .show .step:nth-child(2) {
    transition-delay: 0.3s;
  }
  .show .step:nth-child(3) {
    transition-delay: 0.6s;
  }
    .show .step:nth-child(4) {
    transition-delay: 0.9s;
  }
.minall{
    margin: 50px 0;
 }
.detailtxt,
.minimgtxt,
.minimgXtxt{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.minimgXtxt{
    margin-bottom: 20px;
}
 
.detailtxt span,
.minimgtxt span,
.minimgXtxt span{
    color: var(--color-n2);
    font-size: 30px;
  
}
.minimg{
    margin-top: 20px;
}
.minimg ul{
    display: flex;
    align-items: center;
    justify-content: center;  
   
}
.minimg ul li{
    list-style: none;
    margin: 0 20px; 
}
.minimg img{
    width: 250px;
    height: 280px;
    opacity: 0.9;
}
.minimg-hidden .mini-step {
    opacity: 0;
}
  
  /* 등장 상태: 모든 이미지가 동시에 나타남 */
  .minimg-show .mini-step {
    opacity: 1;
    transition: opacity 0.7s ease-out;
  }

.minimgX{
    display: flex;
    justify-content: center;
}
.minimgX ul li{
    list-style: none;
    margin: 10px 0;
  opacity: 0; /* 초기 상태: 투명 */
  transform: translateX(50px); /* 초기 위치 아래로 */
  transition: opacity 0.2s ease-out, transform 0.7s ease-out;
}

/* 계단식으로 이미지가 하나씩 나타나게 */
.minimgX-show ul li:nth-child(1) {
  transition-delay: 0s;
}
.minimgX-show ul li:nth-child(2) {
  transition-delay: 0.3s;
}
.minimgX-show ul li:nth-child(3) {
  transition-delay: 0.6s;
}

/* 애니메이션이 끝난 후 보이게 하도록 */
.minimgX-show ul li {
  opacity: 1;
  transform: translateX(0);
}
/* contact */
#contact_all {
    width: 100%;
    padding: 70px;
    background-color: #d6dec5;
  }
  
  .contacttitle {
    margin-bottom: 30px;
  }
  .contacttitle p {
    font-size:30px;
    color: rgb(51, 51, 51,0.8);;
  }
  .contacttitle :nth-child(2) {
    font-size: var(--font-projectsubsub);
    color: rgb(51, 51, 51,0.8);
    margin-top: 5px;
  }
  
  .contact_id {
    margin-top: 50px;
  }
  .contact_mail {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
  }
  .contact_mail p {
    cursor: pointer;
    font-weight: 400;
    align-items: center;
    font-size:4.3rem;
    color: var(--color-n3);
    text-shadow: 2px 2px 3px var(--color-n1);
  }
  #copyText:hover{
    color: var(--color-n1);
    transition: all 0.5s ease-out;
  }
  .contact_idtext p {
    margin-top: 5px;
    color: rgb(51, 51, 51,0.8);
    font-size: var(--font-projectsubsub);
  }
  
  /* 추가된 애니메이션 스타일 */
  .hidden {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
  }
  
  .show {
    opacity: 1;
    transform: translateY(0);
  }
  
  .wave span {
    opacity: 0;
    display: inline-block;
    transform: translateY(10px);
    animation: waveFade 0.6s forwards;
  }
  
  @keyframes waveFade {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  