:root{
    --media-title:1.5rem;
    --media-medium:17px;
    --media-large:20px;
    --media-project:28px;
    --media-projectsub:18px;
    --media-projectsubsub:15px;
    --media-420title:2.5rem;
    --color-n1:#333333;
    --color-n2:#616161;
    --color-n3:#518071;
    --color-n4:#f2ecff;
    --color-main:#5fe36a;
}

@media(max-width:1194px) {
    header{
        width: 100%;
        background-color: #fffde9;
        top: 0;
        position: fixed;
        display: flex;
        justify-content: space-between;
        z-index: 999;
    }
    .tooglebtn{
        cursor: pointer;
        display: flex;
    }
    .index_all{
        position: absolute;
        top: 0%;
        left: 0%;
        width: 100%;
        height:100vh;
        display: none;
        background-color: #e4e4d0;
        z-index: 50;  
    }
    .close{
        display: flex;
        position: absolute;
        top: 20px;
        right: 32px;
        font-size: 32px;
        cursor: pointer;
    }
    .close:hover{
        font-weight: bold;
    }
    .index_all ul li{
        margin: 5px;
    }

   .index_allul{
        position: absolute;
        flex-direction: column;
        top: 50%;
        text-align: left;
   }
   .index_allul li{
        font-size: 2.5rem;
        margin: 0;
        padding: 0;
   }
 
   .index_allul li:hover{   
        color: var(--color-n2);
   }
   .index_all.active{
        display: block;
   }
 .frist{
    padding-top: 50px;
    height: 95vh;     
}
.mainback{
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
}
.mainback img{
    width: 95%;
}
.maintextimg {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 0.05s linear;
}
.maintextimg img {
    max-width: 110%;
    height: auto;
}
.subtext{
    position: absolute;
    bottom:1%;
}
    .about{
        opacity: 0;
        transform: translateX(-100px);
        transition: all 1s ease-out;
        margin-top: 20px;
        width: 53%;

    }
    .abouttext.show .about{
        opacity: 1;
        transform: translateX(0);
    } 
    
    .about h3{
        width: 85%;
        font-size: var(--media-title);
    }
    .abouttext{
        display: block;
    }
    .aboutsub{
        margin-top: 50px;
        margin-left: 10%;
    }
       .myimg img {
        width: 250px;
        height: 350px;
           }
    .profile_title{
        margin-top: 70px;
    }
    .profile_all{
        background-color: rgba(255, 255, 255, 0.3);
        box-shadow: 0 2px 5px var(--color-n1);
        padding: 50px 55px;
        border-radius: 30px; 
        display: grid;
        grid-template-columns: 200px 340px;
        grid-template-rows: 120px 120px;
        gap: 60px 80px ;
    }
    .profile_all ul li p:nth-child(1){
        color: var(--color-n1);
        font-size: var(--media-medium);
        font-weight: 700;
    }
    .profile_all ul li p:nth-child(2){
        color: var(--color-n1);
        font-size: var(--media-medium);
        display: flex;
        justify-content: right;
    }
    .skills ul li p:nth-child(2){
    margin-right: 0px;
     }
     .skills ul li img{
        margin: 0 10px;
        width: 43px;
        height: 43px;
     }
    /*project css*/
    .projectcontact h3{
        margin: auto;
    }
    .projecte {
        position: relative;
        left: 8%;
    }

}
@media(max-width:420px) {
    .aboutme,
    #sectionprofile,
    #projectall,
    #designall{
        margin-left: 3px;
       
    }
  .frist{
    padding-top: 150px;
    height: 95vh;     
}
.mainback{
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
}
.mainback img{
    width: 100%;
}
.maintextimg {
    margin-top: 10px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 0.05s linear;
}
.maintextimg img {
    max-width: 100%;
    height: auto;
}
.subtext{
    position: absolute;
    bottom:1%;
}
.subtext img{
    width: 65%;
}
    .iconmouse{
        bottom: auto;
        margin-bottom: 50px;
    }
    .about{
        opacity: 1;
        margin-top: 20px; 
        width: auto;
        transform: none;
        transition: all 0.5s ease-out;
    }
    .about h3{
        width: 60%;
        font-size: 1.2rem;
        color: var(--color-n2);
        transform: none;
    }
    .aboutsub{
        width: 80%;
        margin: auto;
        margin-top: 50px;
    }
    .aboutsub h3{
        margin-left: 10px;
        margin-bottom: 20px;
        font-size: var(--font-projectsub);
        color: var(--color-n1);
    }
    .aboutsub p{
        font-size: var(--font-projectsubsub);
        color: var(--color-n1);
    }
    .aboutsub1,
    .aboutsub2{
        background-color:#e4e4d0; 
        border-radius: 50px; 
        margin-bottom: 30px;
        box-shadow: 0px 2px 5px var(--color-n2);
        padding: 20px;
    }
    .aboutsub1{
        opacity: 1;
        transition: all 0.6s ease-out;
    }
    .aboutsub2{
        opacity: 1;
        transition: all 0.3s ease-out;
        animation-delay: 1s;
    }
    .profile_title{
        margin-top: 70px;
    }
    .profile{
        margin-top: 50px;
        display: block;
      }
    .profile img{
        margin-left: 30%;
        width: 162px;
        height: 205px;
    }
    .myimg{
        opacity: 0; /* 초기에는 보이지 않도록 */
        margin-bottom: 10px;
        transform: none;/* 밑에서 위로 오는 효과 */
    }
    .myimg.active{
        opacity: 1;
    }
    .profile_all{
       
        margin: auto 10px;
        padding: auto;
        display: block;
        transform: none; /* 밑에서 위로 오는 효과 */
        
    }
    .profile_all.active {
        opacity: 1;
 
    }
    .profile_all div {
        margin-bottom: 30px;
    }
    .profile_all ul li p:nth-child(1){
        color: var(--color-n1);
        font-size: var(--media-medium);
        font-weight: 700;
     
    }
    .profile_all ul li p:nth-child(2){
        color: var(--color-n1);
        display: flex;
        justify-content: right;
    }
    .skills ul li p:nth-child(2){
     margin-right: 0px;
     }
     .skills ul li img{
        width: 35px;
        height: 35px;
     }
   
    /*project css*/
    #projectcontact h3{
        margin: auto;
    }
    .fristproject img,
    .secondproject img,
    .finalproject img{ 
        width: 360px;
        border-radius: 30px;
   }
   .projecte {
    position: relative;
    left: 3%;
    }
    .projecta,
    .projectb,
    .projectc,
    .projectd{
        margin-bottom: 10px;
    }
    .secondproject,
    .finalproject{
        margin: auto;
    }
    .fristproject,
    .secondproject{
        display: block;
        align-items: center;
        justify-content: center;
        margin-left: 10px;
    }
    /*design*/
    .design{
        margin: auto;
        margin-bottom: 30px;
    }
    .designimg ul{
        display: block;
        text-align: center;
        justify-content: center;
        list-style: none;
        height: auto;         
    }
    .designimg ul li {
        position: relative;
        height: 400px;
        display: inline-block;
        overflow: hidden;
        margin: 20px 0;
    }
    .minimg{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .minimg ul {
        display: block;
        align-items: center;
        justify-content: center;  
    }
    .minimgX{
        margin: 0 10px;
    }
    .minimgX img{
        width: 100%;
    }
    .detailtxt span,
    .minimgtxt span,
    .minimgXtxt span{
    color: var(--color-n2);
    font-size: var(--media-project);
    text-shadow: 0 1px 1px black;
}
/* contact */
#contact_all{
    margin: auto;
    padding: 30px 0;
 
}
.contacttitle p{
    display: flex;
    align-items: center;
    text-align: left;
    font-size: 1.3rem;
    color: var(--color-n1);
 
}
.contacttitle :nth-child(2){
    font-size: 16px;
}
 .contact_id{
    margin-top:auto;
}
.contact_mail{
    display: flex;
    align-items: center;
    justify-content: left;
    color: var(--color-n4);
    text-shadow: 2px 2px 3px var(--color-n2);
    margin: auto;
}
.contact_mail i{
    margin-top: auto;
    font-size:25px;
}
 
.contact_mail p{
    font-size: var(--media-project);
    cursor: pointer;
    font-weight: 400;
    color: var(--color-n3);
    text-shadow: 1px 2px 2px var(--color-n1);
}
.contact_idtext{
    margin: auto;
}
.contact_idtext p{
    font-size:16px;
} 
/*h3 font-size*/
.abouttitle,
.profile_title h3,
#projectcontact h3,
.design{
    font-size: var(--media-420title);
}
}

/*mouse scroll css*/
.mouse {
    padding-top: 60px;
  }
.mouse span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 30px;
    height: 50px;
    margin-left: -15px;
    border: 2px solid black;
    border-radius: 50px;
    box-sizing: border-box;
  }
  .mouse span::before {
    position: absolute;
    top: 10px;
    left: 50%;
    content: '';
    width: 6px;
    height: 6px;
    margin-left: -3px;
    background-color: black;
    border-radius: 100%;
    -webkit-animation: sdb 2s infinite;
    animation: sdb 2s infinite;
    box-sizing: border-box;
  }
  @-webkit-keyframes sdb {
    0% {
      -webkit-transform: translate(0, 0);
      opacity: 0;
    }
    40% {
      opacity: 1;
    }
    80% {
      -webkit-transform: translate(0, 20px);
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes sdb {
    0% {
      transform: translate(0, 0);
      opacity: 0;
    }
    40% {
      opacity: 1;
    }
    80% {
      transform: translate(0, 20px);
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
  .iconmouse {
    position: absolute;
    bottom: 60px;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 1;
    width: 30px;
    height: 50px;
    border: 2px solid black;
    border-radius: 20px;
}
@keyframes Mouse_act {
    0% {
        transform: translateY(5px);
    }

    50% {
        transform: translateY(-5px);
    }

    100% {
        transform: translateY(5px);
    }
}
.iconmouse::before {
    content: "SCROLL";
    display: block;
    position: absolute;
    top: 53px;
    left: 50%;
    margin-left: -29px;
    width: 60px;
    font-size: 16px;
    color: black;
    letter-spacing: 0px;
    font-weight: 600;
}
.iconmouse .ball {
    position: absolute;
    top: 8px;
    left: 13px;
    width: 4px;
    height: 4px;
    background:black;
    border-radius: 50%;
    animation: Mouse_act 1s ease-out infinite;
}
 