:root{
    --media-small:12px;
    --media-medium:15px;
    --media-large:20px;
}

@media screen and (max-width:988px) {
    .headertop{
        background: var(--font-white);
        width: 100%;
        position: fixed;
        z-index: 999;
    }
    .tooglebtn{
        display: flex;
    }
    .index_all{
        height: 100%;
    }
   .index_allul{
        position: absolute;
        flex-direction: column;
        text-align: center;
        top:70px;
        right: -250px;
        width:240px;
        height:100vh;
        background-color:var( --font-subsubcolor);
        transition: all 0.3s ease-in-out;
        z-index: 50;
        padding-top: 10px;
        padding-bottom: 10px;
   }
   .index_allul.active{
        right: 0;
   }
   .index_project:hover .index_hidden{
         display: none;
    }

    .middle1 h2{
        font-size: 3rem;
    }
    .plan_all{
        margin-top: 150px;
    }
    .contenth2{
        margin-top: auto;
        font-size: 3rem;
    }
    .content_p{
        font-size: var(--media-large);
    }
    .profile{
        flex-direction: column;
        align-items: center;
 
    }
    .profile img{
        width: 160px;
        height: 180px;
    }
    #start_A{
        margin-top: 100px;
    }
    .profile_all{
        background-color: rgba(255, 255, 255, 0.6);
        padding: 70px 50px;
        border-radius: 30px; 
        display: grid;
        grid-template-columns: 200px 240px;
        grid-template-rows: 90px 90px;
        gap: 40px 40px ;
    }
    .profile_all ul li p:nth-child(1){
        color: var(--font-color);
        font-size: var(--media-medium);
        font-weight: 700;
    }
    .profile_all ul li p:nth-child(2){
        color: var(--font-color);
        display: flex;
        justify-content: right;
    }
    .skills ul li p:nth-child(2){
    margin-right: 0px;
     }
    /*project css*/
    .button0,
    .button1,
    .button2{

        display: none;
    }
    .sectionproject{
        height: 75vh;
    }
    .section4,
    .section5,
    .section6{
        flex-direction: column;
    }
    .alramimg img {
        width: 250px;
        height: 150px;
    }
    .phoneimg{
        width: 100px;
        height: 180px;
    }
    .oneappimg{
        position: absolute;
        width: 60px;
        height: 60px;
        left: 53%;
        margin-top: 120px;
    }
    .phoneimg2{
        width: 100px;
        height: 180px;
    }
    .oneclcikmaintext,
    .smartperfumemaintetext{
        margin-right: 150px;
    }
    .perfumeapp{
        position: absolute;
        width: 60px;
        height: 60px;
        left: 53%;
        margin-top: 120px;
    }
    .viewbtn_media{
        display: flex;
        padding: 7px 50px;
        border-radius: 10px;
        font-weight: 500;
        color: var(--font-subcolor);
        background:#ebb76e;
        border: 1px solid#ebb76e;
        font-size: var(--font-btn);
        z-index: 4;
        cursor: pointer;
        letter-spacing: 3px;
        box-shadow: 5px 3px 3px rgba(0, 0, 0, 0.1);
 
    }
    .viewbtn_media:hover{
        background: #e6b980;
        border: 1px solid#e6b980;
        color: var(--font-white);
    }
    .viewbtn_media1{
        display: flex;
        background:#d37f76ee;
        padding: 7px 50px;
        border-radius: 10px;
        font-weight: 500;
        color: var(--font-subcolor);
        border: 1px solid #d37f76ee;
        font-size: var(--font-btn);
        z-index: 4;
        cursor: pointer;
        letter-spacing: 3px; /*문자간격*/
        box-shadow: 5px 3px 3px rgba(0, 0, 0, 0.1);
    }
    .viewbtn_media1:hover{
        background: #c25b50ee ;
        border: 1px solid#c25b50ee ;
        color: var(--font-white);
    }
    .viewbtn_media2{
        display: flex;
        background:#857d7cee ;
        padding: 7px 50px;
        border-radius: 10px;
        font-weight: 500;
        color: var(--font-subcolor);
        border: 1px solid #857d7cee;
        font-size: var(--font-btn);
        z-index: 4;
        cursor: pointer;
        letter-spacing: 3px; /*문자간격*/
        box-shadow: 5px 3px 3px rgba(0, 0, 0, 0.1);
    }
    .viewbtn_media2:hover{
        background: #6b6665ee ;
        border: 1px solid#6b6665ee ;
        color: var(--font-white);
    }
}

/*mouse scroll css*/
.mouse {
    padding-top: 60px;
  }
.mouse span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 30px;
    height: 50px;
    margin-left: -15px;
    border: 2px solid #fff;
    border-radius: 50px;
    box-sizing: border-box;
  }
  .mouse span::before {
    position: absolute;
    top: 10px;
    left: 50%;
    content: '';
    width: 6px;
    height: 6px;
    margin-left: -3px;
    background-color: #fff;
    border-radius: 100%;
    -webkit-animation: sdb 2s infinite;
    animation: sdb 2s infinite;
    box-sizing: border-box;
  }
  @-webkit-keyframes sdb {
    0% {
      -webkit-transform: translate(0, 0);
      opacity: 0;
    }
    40% {
      opacity: 1;
    }
    80% {
      -webkit-transform: translate(0, 20px);
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes sdb {
    0% {
      transform: translate(0, 0);
      opacity: 0;
    }
    40% {
      opacity: 1;
    }
    80% {
      transform: translate(0, 20px);
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
  .iconmouse {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 1;
    width: 30px;
    height: 50px;
    border: 2px solid #6a6868;
    border-radius: 20px;
}
@keyframes Mouse_act {
    0% {
        transform: translateY(5px);
    }

    50% {
        transform: translateY(-5px);
    }

    100% {
        transform: translateY(5px);
    }
}
.iconmouse::before {
    content: "SCROLL";
    display: block;
    position: absolute;
    top: 53px;
    left: 50%;
    margin-left: -29px;
    width: 60px;
    font-size: 16px;
    color: #6a6868;
    letter-spacing: 0px;
    font-weight: 600;
}
.iconmouse .ball {
    position: absolute;
    top: 8px;
    left: 13px;
    width: 4px;
    height: 4px;
    background: #6a6868;
    border-radius: 50%;
    animation: Mouse_act 1s ease-out infinite;
}
